<template>
    <div>
        <HelloWorld/>
        <router-view/> <!-- flag~packages.vue-router~-->
    </div>
</template>

<script lang="js">
    import HelloWorld from "./components/HelloWorld.vue";

    export default {
        components: {
            HelloWorld
        }
    }
</script>
