<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="var~description~">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="theme-color" content="var~color.theme~"/> <!--flag~pwa~-->
    <link rel="manifest" href="flag~pwa~manifest.json">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
</head>
<body>

<noscript>
    Please enable Javascript Execution or use as browser with this feature for this webapp to load.
</noscript>
<div id="app"></div>
</body>
</html>