<template>
    <div>
        <NavBar/> <!-- flag~packages.vue-router~-->
        <h1>CyanPrint Generated Vue app</h1>
        <HelloWorld/> <!-- flag!~packages.vue-router~ -->
        <router-view/> <!-- flag~packages.vue-router~-->
    </div>
</template>

<script lang="ts">
	import {Component, Vue} from 'vue-property-decorator';
	import HelloWorld from './components/HelloWorld.vue'; //flag!~packages.vue-router~
	import NavBar from './components/flag~packages.vue-router~NavBar.vue'; //flag~packages.vue-router~

	@Component({
		components: {
			NavBar, //flag~packages.vue-router~
			HelloWorld,  //flag!~packages.vue-router~
		}
	})

	export default class App extends Vue {
		//if~packages.auth0-js~
		async created() {
			try {
				await this.$auth.renewTokens();
			} catch {}
		}
		//end~packages.auth0-js~
	}
</script>
