<template>
    <div class="hello">
        <label> Message:
            <input v-model="message"/>
        </label>
        <div class="message">Reversed: {{val}}</div>
        <img v-bind:src="logo" alt="not found!"/>
    </div>
</template>

<script lang="js">

    import {images} from "../images";

    export default {
        data: function () {
            return {
                message: ""
            };
        },
        computed: {
            logo: function () {
                return images.logo;
            },
            val: function () {
                return this.message.split("").reverse().join("");
            }
        }
    }
</script>