<template>
    <div class="nav-bar">
        <div class="basic">
            <router-link class="nav" to="/">Home</router-link>
            <router-link class="nav" to="/about">About</router-link>
        </div>
        <!--if~packages.auth0-js~ -->
        <div class="users">
            <div v-if="!Authenticated">
                <button class="nav" @click="Login">Login</button>
            </div>
            <div v-if="Authenticated">
                <router-link class="nav" to="/profile">Profile</router-link>
                <button class="nav" @click="Logout">Logout</button>
            </div>
        </div>
        <!--end~packages.auth0-js~ -->
    </div>
</template>

<style lang='scss' scoped>
    .nav-bar, .basic, .users {
        display: flex;
        justify-content: center;
        background: aquamarine;
    }

    .nav {
        margin: 10px 0;
        padding: 5px 10px;
        font-size: 20px;
        text-decoration: none;
        color: black;
        display: block;
        cursor: pointer;
        border: 1px solid transparent;
        background: transparent;
        box-sizing: border-box;
        &:hover {
            border-bottom: 1px solid;
        }
    }
</style>

<script lang='ts'>
    import {Component, Vue} from 'vue-property-decorator';

    @Component({})
    export default class NavBar extends Vue {

        //if~packages.auth0-js~
        private authenticated?: boolean;

        handleLoginEvent(data: any) {
            this.authenticated = data.loggedIn;
        }

        data() {
            return {
                authenticated: false
            }
        }

        Login(): void {
            this.$auth.login();
        }

        Logout(): void {
            this.$auth.logOut();
            this.$router.push({path: "/"});
        }


        get Authenticated(): boolean {
            return this.authenticated!;
        }

        //end~packages.auth0-js~
    }
</script>
