<template>
    <p class="loading">
        Loading...
    </p>
</template>

<style lang='scss' scoped>
    .loading {
        width: 100%;
        text-align: center;
        font-size: 40px;
        font-family: sans-serif;
    }
</style>

<script lang='ts'>
	import {Component, Vue} from 'vue-property-decorator';
	
	@Component({})
	export default class Callback extends Vue {
		handleLoginEvent(data: any) {
			this.$router.push(data.state.target || "/");
		}

		async created(): Promise<void> {
			await this.$auth.handleAuthentication();
		}
	}
</script>
