<template>
    <div class="hello">
        <label> Enter Message here:
            <input v-model="val"/>
        </label>
        <div class="message">Reversed: {{Message}}</div>
        <img :src="logo" alt="Not found!"/>
    </div>
</template>

<script lang="ts">
    import {Component, Vue} from 'vue-property-decorator';
    import {images} from "../images";

    @Component
    export default class HelloWorld extends Vue {

        val: string = '';
        logo: string = images.logo;

        get Message(): string {
            return (this.val as string).split("").reverse().join("");
        }
    }
</script>